@import "variables.less";

html,
.masthead {
  background-color: @htmlBackground;
}

body {
  box-shadow: 0px 0px 10px #333;
  padding-bottom: 40px;
}

.masthead {
  box-shadow: 0px 0px 10px black;
}

.nav-pills > li > a {
  border-radius: @borderRadiusLarge;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
