<div class="jumbotron">
   <h1>Super awesome marketing speak!</h1>

  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus,
    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
    massa justo sit amet risus.</p>
  <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<div class="row-fluid">
  {{ title }}
</div>